- @body_class = 'app-redirect'

.container
  .message
    - if @token_valid
      | Email verified! Click the button below to continue to the app.
    - else
      | Hmm, it looks like that link may have already been used. Try signing in from the app again to generate a new sign-in link.

  a.button href=@continue_url Open App