p Hi there!
p To continue logging in, click the link below from your device.
p This is a <strong>magic link</strong> that will verify your email address and log you into Zippi.

.call-to-action
  a.mail-button href=@app_redirect Verify Email
