html
  head
    link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Montserrat:700&display=swap&subset=latin-ext" rel="stylesheet"
    link href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css" rel="stylesheet"
    link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.css" rel="stylesheet"
    script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"

    scss:
      @function in($inches) {
        @return $inches * 300px;
      }

      body {
        height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eee;
        font-size: 30px;

        font-family: "Open Sans";
      }

      .content {
        position: relative;

        width: in(2.24);
        height: in(3.39);
        background: white;

        display: flex;
        flex-direction: column;
      }

      .top {
        position: relative;
      }

      .logo {
        height: in(0.6);
        margin-left: in(0.825);
        margin-top: in(0.775);
        border-radius: in(0.025);
        position: absolute;
        background-color: white;
        padding: in(0.01);
      }

      .reserve-me {
        position: absolute;
        width: in(2.24);
        margin-top: in(0.08);
        z-index: 1;
      }

      .reserve-me-borders {
        position: absolute;
        top: in(2.51);
        width: in(2.24);
        height: in(0.625);
        border: in(0.075) solid #FC9440;
        z-index: 2;
      }

      .reserve-me-extension {
        position: absolute;
        top: in(3.1);
        width: in(2.24);
        height: in(0.29);
        background-color: #FC9440;
        z-index: 2;
      }

      .qr-code {
        width: in(2.24);
        border: in(0.2) solid #FC9440;
        border-bottom-width: in(0.16);
      }

      .item-code {
        position: absolute;
        text-align: right;
        line-height: in(0.2);
        top: in(2.28);
        right: in(0.14);
        z-index: 2;
        font-size: in(0.14);
        font-family: "Montserrat";
      }

      table {
        justify-content: center;
        font-size: 30px;
        text-align: center;
        align-items: center;
        align-contents: center;
      }

      table .mdi {
        color: #666;
        margin-right: 3px;
      }

      .two-icons {
        display: flex;
        flex-direction: row;
      }

      .instruction-words {
        text-align: left;
      }
  body
    .content
      .top
        = qr_logo_html.html_safe
      .reserve-me-borders
      img.reserve-me src="https://zippi-assets.s3-us-west-2.amazonaws.com/reserve-me.png"
