html
  head
    link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Montserrat:700&display=swap&subset=latin-ext" rel="stylesheet" /
    link href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css" rel="stylesheet" /
    link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.css" rel="stylesheet" /
    script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js" 
    scss:
      @function in($inches) {
        @return $inches * 300px;
      }
      body {
        height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eee;
        font-size: in(0.15);

        font-family: "Open Sans";
      }

      .content {
        position: relative;

        width: in(2.24);
        height: in(3.39);
        background: white;

        display: flex;
        flex-direction: column;
      }

      .top {
        position: relative;
      }

      .logo {
        height: in(0.7);
        margin-left: in(0.775);
        margin-top: in(0.7);
        border-radius: in(0.025);
        position: absolute;
        background-color: white;
        padding: in(0.015);
      }

      .qr-code {
        width: in(2.1);
        margin: in(0.05) in(0.07) in(-0.05) in(0.07);
      }

      .item-code {
        text-align: center;
        line-height: in(0.2);
        margin-top: in(-0.1);
        margin-bottom: in(-0.075);
      }

      .bottom {
        flex: 1;
        border-top: in(0.01) solid #999;
        margin-top: in(0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
      }
      .subtitle {
        text-align: center;
        margin-top: in(0.075);
        margin-bottom: in(0.025);
      }
      .logo-name {
        font-family: "Montserrat";
      }

      table {
        justify-content: center;
        font-size: in(0.15);
        text-align: center;
        align-items: center;
        align-contents: center;
      }

      table .mdi {
        color: #666;
        display: inline-block;
        padding-top: in(0.015);
      }

      td:first-child {
        text-align: center;
        padding-right: in(0.1);
        display: flex;
      }

      .instruction-words {
        text-align: left;
      }
  body
    .content
      .top
        = qr_logo_html('Item ').html_safe
      .divider
      .bottom
        .subtitle
          | Reserve with 
          span.logo-name Zippi
          | !
        .instructions
          table align="center" 
            tbody
              tr
                td
                  .mdi.mdi-apple style=("margin-top: in(-0.04); margin-right: in(-0.025);")
                  |  
                  .mdi.mdi-google-play
                td.instruction-words
                  div Download Zippi
              tr
                td
                  .mdi.mdi-barcode-scan
                td.instruction-words
                  div Scan code
              tr
                td
                  .mdi.mdi-calendar-plus
                td.instruction-words
                  div Reserve time
