.app-redirect {
  min-height: 100vh;
  font-size: 3em;

  .container {
    padding: 80px 20px;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: column;
  }
  .message {
    padding-bottom: 100px;
  }
  .button {
    background: $color-dark-blue;
    display: block;
    align-self: stretch;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
  }
}