@import "base";

.logo {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

.mail-container {
  max-width: 700px;
  margin: 0 auto;
}

.mail-body {
  border: 1px solid rgba(34,36,38,0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 1.5em;
  margin: 1rem 0em;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;

  p:last-child {
    margin-bottom: 0;
  }
}

p {
  line-height: 1.4285em;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 0 1em;
}

.mail-header {
  padding: 0;
  margin: 0;
  font-size: 1.71428571rem;
  line-height: 1.28571429em;
  margin-top: -0.14285714em;
  margin-bottom: 0.83em;
  text-align: center;
  .sub {
    font-size: 1.14285714rem;
    line-height: 1.2em;
    color: rgba(0,0,0,.6);
    font-weight: 400;
  }
}

.mail-footer {
  text-align: center;
}

a {
  color: #4183c4;
  text-decoration: none;
}

.call-to-action {
  text-align: center;
  padding: 1em;

  .mail-button {
    font-weight: bold;
    color: white;
    background: $color-primary;
    font-size: 1.6875rem;
    display: inline-block;
    cursor: pointer;
    padding: .6875em 1.5em .6875em;
    line-height: 1em;
    text-align: center;
  }
}

.center {
  text-align: center;
}

.responsive {
  max-width: 100%;
  vertical-align: middle;
}
