doctype html
html
  head
    meta http-equiv='Content-Type' content='text/html; charset=utf-8'
    = stylesheet_link_tag 'mailer'
  body
    .mail-container
      .logo
        = image_tag 'https://zippi-assets.s3-us-west-2.amazonaws.com/wordmark.png', alt: 'Zippi Logo'

      .mail-body
        = yield

      .mail-footer
        p
          | Zippi – Reserve Anything!
          br
          | San Francisco, CA
